.waiting-container{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;

    background-color: #888;
    opacity: 0.5;

    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}